html
{
    background-color: #c3ceda;

    background-color: #C3CEDA;
    background-image: url('../Pictures/Background.jpg');
    background-blend-mode:overlay;
    background-size: 100%;
}

*{
    -moz-box-sizing: border-box;
}

body{
    margin: 0px;
    margin-top: -3vh;
}

main{

    margin-left: 2vw;
    margin-right: 2vw;

}

h1 {
    margin-left: 2vw;
    color: #ffffff;
    font-size: 4vh;
    line-height: 4vh;
    font-weight: 600;
    text-decoration-line:none;
    text-transform: uppercase;

}

h2{
    Color: #071330;

    text-align: center;

    font-size: 6vh;

    margin: 4vh 0px 4vh
}

h3{
    color: #ffffff;
    background-color: #071330;
    font-size: 3vh;
    line-height: 4vh;
    font-weight: normal;   

}

p {
    color: #070750;
    line-height: 3vh;
    color:#ffffff;
    font-weight: 300;
}

input{
    font-size: 3vh;
}

footer{
    color: #683900bb;
    font-size: 2.5vh;
    margin-right: 50vw;
}

nav {
    background-color: #0C4161;
    border-style:solid;
    border-color: #000000;
    border-width: 0.5vh;
    height-min: 10vh;

    posistion: fixed;

}
a {
    color: #ffffff;
    text-decoration-line:none;
}

img{
    max-width: 24vw;
    margin-top: 3vh;
    border-style: solid;
    border-width: 0.5vh;
    border-color: #071330;
}

aside{

}

.main-section{
    width: 65vw;
}

.main-border{
    border-style: solid;
    border-width: 0.5vh;
    border-color: #000000;

    padding: 1vh 1vw ;
}

.main-text-style{
    background-color: #0C4160;
    border-color: #000000;
    font-size: 2.5vh;
    line-height: 4vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: auto;

}

.nav-boxes{
    border-top: 0;
    border-bottom: 0;
    border-color: #0C4161;
    border-width: 0.3vh;
    width: 10vw;
    height: 4vh;
    background-color: #0C416130;

    margin-top: 0px;
    margin-bottom: 0px;

    text-align:center;

    border-style: solid;

    float: left;

}


table{
    padding: 0px;
}

tr{
    padding:0px;
    margin: 0px;
    border-width: 0px;
}
td{
    padding: 0px;
}

.colum1 {
    float: left;
}
.colum2{
    float: left;
    margin-left: 5vw;
}

nav >div > a{
    color: #071330;
    text-decoration-line:none;
    font-size: 2.5vh;
}

li{
    margin-top: 1.5px;
    list-style-type: none;

}

.content{
    margin-left: -0.5vw;
}
.collapsible{
    max-height: 4vh;
    display: none;
    font-size: 2vh;
}

@media screen and (max-width: 500px){

    h1{
        margin: 2vh 2vw 0vw;
        padding: 1vh;
        font-size: 3vh;
    }

    main{

        margin-left: 2vw;
        margin-right: 2vw;

    }
    .main-section{
        width: 96vw;
    }
    .colum1{
        float:top;
    }

    .colum2{
        max-width: 80vw;
        margin-right: 10vw;
        float: left;
    }
    img{
        max-width: 80vw;
    }
    .nav-boxes{
        float: left;
        width: 40vw;
        margin-right: 50vw;
        background: #bdd2e4;
        border-color: black;
    }

    .content{
        display: none;
    }
    .collapsible{
        display: block;
        background: #bdd2e4;
        border-color: #070750;
        border-style: solid;
        border-radius: 1vw;
    }


}

/*

    small(phone) -> 500x1100 max

    mid (my laptop) -> 1600x1000

    4K -> higher so I need to make sure everything still works



    header en h niet verwaren

    text meer leesbaar maken

 */


