html
{
    background-color: #c3ceda;

    background-color: #C3CEDA;
    background-image: url('../Pictures/Background.jpg');
    background-blend-mode:overlay;
    background-size: 100%;
}

*{
    -moz-box-sizing: border-box;
}

body{
    margin: 0px;
    margin-top: -16px;
}

main{

    margin-left: 2vw;
    margin-right: 2vw;

}

h1 {
    margin-left: 4vw;
    color: #ffffff;
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    text-decoration-line:none;
    text-transform: uppercase;



}

h2{
    Color: #071330;

    text-align: center;

    font-size: 40px;

    margin: 25px 0px 25px
}

h3{
    color: #ffffff;
    background-color: #071330;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;   

}

p {


    color: #070750;
    font-size: 14px;
    line-height: 20px;
    color:#ffffff;
    font-weight: 300;


}

footer{
    color: #683900bb;
}

nav {
    margin-left: -42px;
    background-color: #0C4161;
    border-style:solid;
    border-color: #000000;
    border-width: 2px;
    height-min: 10vh;

    posistion: fixed;

}
a {
    color: #ffffff;
    text-decoration-line:none;
}

img{
    border-style: solid;
    border-width: 4px;
    border-color: #071330;
}

aside{

}

.main-section{
    width: 65vw;
}

.main-border{
    border-style: solid;
    border-width: 5px;
    border-color: #000000;

    padding: 1vh 1vw ;
}

.main-text-style{
    background-color: #0C4160;
    border-color: #000000;
    font-size: large;
    line-height: 27px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: auto;

}

.nav-boxes{
    border-top: 0;
    border-bottom: 0;
    border-color: #0C4161;
    border-width: 2px;
    width:200px;
    background-color: #0C416130;

    margin-top: 0px;
    margin-bottom: 0px;

    text-align:center;

    border-style: solid;

    float: left;

}


table{
    padding: 0px;
}

tr{
    padding:0px;
    margin: 0px;
    border-width: 0px;
}
td{
    padding: 0px;
}

.colum2{
    float: right; 
}

nav > ul > li > p > a{
    color: #071330;
    text-decoration-line:none;
}

li{
    margin-top: 1.5px;
    list-style-type: none;

}

.content{
    display: block;
}
.collapsible{
    display: none;
}

@media screen and (max-width: 500px){

    h1{
        margin: 2vh 15vw 0vw;
        padding: 1vh;
    }

    main{

        margin-left: 2vw;
        margin-right: 2vw;

    }
    .main-section{
        width: 96vw;
    }
    .colum1{
        float:top;
    }

    .colum2{
        max-width: 80vw;
        margin-right: 10vw;
        float: left;
    }
    img{
        max-width: 80vw;
    }
    .nav-boxes{
        float: none;

        background: #bdd2e4;
        border-color: black;
    }

    .content{
        display: none;
    }
    .collapsible{
        display: block;
    }


}

/*

    small(phone) -> 500x1100 max

    mid (my laptop) -> 1600x1000

    4K -> higher so I need to make sure everything still works



    header en h niet verwaren

    text meer leesbaar maken

 */


